*,
::after,
::before {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.Nav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: sticky;
    height: 80px;
    width: 100%;
    font-weight: 600;
    z-index: 999;
    align-items: center;
    box-shadow: 0 0 8px 1px #eee;
    font-size: 1.1rem;
    letter-spacing: -.09rem;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 30px;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
}

.navmenubar {
    display: flex;
    list-style: none;
    max-width: 100%;
    align-items: center;
}

.nav-items {
    height: 70px;
    position: relative;
}

.services-1 {
    width: 250px;
    left: -10%;
    top: 108%;
    text-align: left;
    position: absolute;
    background: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

.services-1:hover {
    transform: translateY(-5px);

}

.s-t {
    display: block;
}

.st {
    display: block;
    color: rgb(0, 61, 77);
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.4s ease;
}

.st:hover {
    color: rgb(5, 125, 155);
}

.nav-items:hover>.services-1 {
    opacity: 1;
    visibility: visible;
}

.nav-tangs {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgb(0, 61, 77);
    width: 120px;
    position: relative;
    max-width: 100%;
    justify-content: center;
    height: 100%;
    transition: all 0.5s ease;
}

.nav-tangs::after {
    position: absolute;
    margin-top: 3px;
    content: '';
    background: rgb(5, 125, 155);
    top: 100%;
    opacity: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 0.3s ease;
}

.nav-tangs:hover::after,
.active-1::after {
    width: 100%;
    opacity: 1;
    left: 0;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 24px;
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    background: rgb(226, 193, 6);
    color: rgb(0, 61, 77);
    transition: all 0.4s ease;
}

.button:hover {
    color: #000;
    background: rgb(176, 151, 5);
}

.nav-tangs:hover {
    color: rgb(5, 125, 155);
    transition: all 0.5s ease;
}

.mid-container {
    display: flex;
    width: auto;
    max-width: 100%;
}

.mid-img {
    margin: 20px 10px 0 20px;
    width: 40rem;
}

.mid-text {
    margin: 20px 15px;
    align-items: center;
}

.bigguy {
    justify-content: center;
    text-align: center;
    padding: 1.3rem;
}

.smallguy {
    justify-content: center;
    margin-top: .8rem;
    align-items: center;
}

.before-footer {
    margin: 60px 20px 0 20px;
}

.b-f {
    font-size: 14px;
    align-items: center;
    display: block;
    justify-content: center;
    margin: 20px 0;
    text-align: center;
}

.b-f-1 {
    margin: 30px;
}

.book-cleaner {
    margin: 20px 0;
    padding: 10px 14px;
    text-decoration: none;
    color: rgb(6, 44, 54);
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.4s ease;
    background: rgb(226, 193, 6);
}

.book-cleaner:hover {
    background: rgb(176, 151, 5);
    color: #000;
    transition: all 0.4s ease;
}

@media screen and (max-width:1263px) {
    .Nav {
        background-color: #fff9;
        display: flex;
        justify-content: center;
        position: sticky;
        height: 80px;
        width: 100%;
        font-weight: 600;
        z-index: 999;
        align-items: center;
        box-shadow: 0 0 8px 1px #eee;
        font-size: 1rem;
        letter-spacing: -.09rem;
        top: 0;
    }

    #logo {
        margin-left: 20px;
    }

    .nav {
        justify-content: space-evenly;
    }

    .button {
        padding: 8px 5px;
    }

    .nav-tangs {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: rgb(0, 61, 77);
        width: 110px;
        max-width: 100%;
        justify-content: center;
        height: 100%;
        transition: all 0.5s ease;
    }

    .mid-container {
        display: flex;
        width: auto;
        max-width: 100%;
    }
}

@media screen and(max-width:1100px) {
    .mid-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

}

@media screen and (max-width:1080px) {
    .nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        z-index: 1000;
        max-width: 100%;
        background-color: rgb(0, 61, 77);
        width: 100%;
        padding: 0;
    }

    .navmenubar {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        top: 0;
        padding-top: 20px;
        width: 100%;
        position: absolute;
        top: -10000px;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        z-index: -1;
    }

    .nav-tangs::after {
        display: none;
    }

    .services-1 {
        width: 100%;
        left: 0%;
        display: flex;
        top: 47%;
        text-align: left;
        position: absolute;
        background: rgb(5, 125, 155);
        transition: all 0.3s ease;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
    }

    .services-1:hover {
        transform: translateY(-5px);

    }

    .nav-items:hover>.services-1 {
        opacity: 1;
        visibility: visible;
    }

    .s-t {
        display: block;
    }

    .st {
        color: #fff;
    }

    .st:hover {
        color: rgb(2, 13, 15);
        transition: all 0.4s ease;
    }

    .navmenubar.active {
        background: rgb(0, 61, 77);
        top: 10%;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        z-index: 99;
        height: 95vh;
        font-size: 1rem;
    }

    .cal {
        display: block;
    }

    .price-quote {
        margin-left: 0;
        display: block;
    }

    #logo {
        padding-left: .4rem;
        z-index: 1000;
    }

    .bar {
        width: 25px;
        top: 2220px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.4s ease;
        background: #fff;
    }

    .nav-items {
        height: 10vh;
        width: 100%;
        transition: all 0.4s ease-in-out;
    }

    .nav-tangs {
        color: #fff;
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-btn {
        padding-bottom: 2rem;

    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 40px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        z-index: 1000;
        right: 5%;
        padding: 4px 5px;
        background-color: rgba(246, 213, 29, 0.4);
        border-radius: 4.5px;
        transition: all 0.4s ease-in-out;
        transform: translate(5%, 20%);
    }

    .bar {
        width: 1.5rem;
        display: block;
        cursor: pointer;
        height: 2.5px;
        margin: 4px auto;
        transition: all 0.4s ease-in-out;
        background: #fff;
    }

    .is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .is-active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .is-active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .mid-container {
        display: block;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .mid-text {
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    .mid-img {
        max-width: 86%;
        width: 100%;
        align-items: center;
        margin-left: 7%;
        align-self: center;
        align-content: center;
    }
}

@media screen and (max-width:400px) {
    .services-1 {
        width: 100%;
        left: 0%;
        display: block;
        top: -75%;
        text-align: left;
        position: absolute;
        background: rgb(5, 125, 155);
        transition: all 0.3s ease;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
    }

    .st {
        text-align: center;
    }
}

/* section */
.center-write {
    background-image: url(ea7280b0-8636-11ea-bbbe-93f6bd37fd1b.jpg);
    background-size: cover;
    height: 50vh;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    opacity: 1;
    align-items: center;
    text-align: center;
}

.write {
    align-content: center;
    padding-top: 100px;
}

.cal {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 60px;
    align-items: center;
}

.price-quote {
    background: rgb(5, 125, 155);
    padding: 20px 24px;
    border-radius: 4px;
    outline: none;
    max-width: 30rem;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    min-height: 15rem;
    height: auto;
    max-width: 100%;
}

.p1,
.p2 {
    margin-top: 20px;
}

.pr {
    color: rgb(226, 193, 6);
    margin-top: 70px;
    text-decoration: overline;
}

.shown {
    justify-content: space-around;
    margin: 40px 100px;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
}

.hidden {
    transition: all 0.1s ease;
    display: none;
}

/* footer */
.footnavlist,
.cls {
    color: #fff
}

.footnavmenu {
    display: flex;
    max-width: 80%;
    width: 100%;
    justify-content: space-between;
}

.secondfooter {
    display: flex;
    justify-content: space-between;
}

.footnavlist {
    margin: 0 20px;
    line-height: 2;
}

.footnavlist:hover {
    color: rgb(5, 125, 155);
    transition: 0.4s ease-out;
}